<div class="all">
	<div class="controls">
		<div id="code">&lt;/&gt;</div>
		<div class="buttons">
			<!-- <button class="btn btn-default restart">
				<i class="fas fa-undo"></i>
			</button> -->
			<button [disabled]="!canUndo" (click)="undo()" class="btn btn-default undo">
				<i class="fas fa-chevron-circle-left"></i>
			</button>
			<button [disabled]="!canRedo" (click)="redo()" class="btn btn-default redo">
				<i class="fas fa-chevron-circle-right"></i>
			</button>
		</div>
	</div>
	<div id="MyCodeEditor" #codeEditor [ngClass]="{ 'player' :  isPlayer, 'moderator' : !isPlayer}"></div>
</div>