.all{
    display:grid;
    grid-template-rows: 4em max-content;

    .controls{
        display: grid;
        grid-template-columns: 50% 50%;
        #code{
            color: white;
            opacity: 0.7;
            width: 20%;
            height: 100%;
            padding-top: 1.2em;
            padding-left: 2em;
        }

        .buttons{
            padding-top: 0.7em;
            padding-right: 1em;
            justify-self: flex-end;

            button{
                background: none;
            }
        }  
    }
}

// .moderator > .CodeMirror{
//     height: 32em;
// }

// .player > .CodeMirror{
//     height: 41em;
// }

#MyCodeEditor{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 9.5pt;
}

.CodeMirror{
    background-color: #101319 !important;
    // color: white;
}

.CodeMirror-gutters{
    border: none;
}

.CodeMirror-linenumbers{
    background-color: #323F4C;
    color: white !important;
}

.CodeMirror-cursor{
    border-left: 1px solid white;
}

.CodeMirror:hover{
    div::-webkit-scrollbar-thumb{
        border-radius: 1em;
        background-color: #666;
    }
    div::-webkit-scrollbar-thumb:hover
    {
        background-color: #aaa;
        
    }
}

.cursorLabel {
    display: none;
    position: absolute;
    height: 17px;
    line-height: 3px;
    margin-left: 3px;
    font-size: 9pt;
    padding: 7px;
}

.CodeMirror-line:hover{
    .CodeMirror-widget .cursorLabel{
        margin-left: -1.8px;
        display: inline-block;
        margin-top: -17px;
    }
}

.hoverSelect:hover{
    .cursorLabel{
        display: inline-block;
    }
}

div::-webkit-scrollbar
{
    width: 0.5em;
    background-color: transparent;
    opacity: 0;
}

div::-webkit-scrollbar-thumb
{
    border-radius: 1em;
    background-color: transparent;
}