<div class="modal fade" 
      tabindex="-1" 
      bsModal 
      #modalElement='bs-modal' 
      [config]="{ show: true, keyboard: false }" 
      role="dialog">
    <div class="backdrop">
    </div>
    <ng-content select="[modal-fullscreen]"></ng-content>
</div>