<app-modal #modal="modal">
	<div modal-fullscreen>
		<div class="quiz">
			<div class="text card">
				<img id="info" src="assets/images/info.svg" />
				<h4>
					<span id="attack">YOU'RE UNDER ATTACK!</span> Answer at least
					<span id="outof">2 out of 3</span> questions correctly to fend off Singularity
					<span id="hint">look in the VR headset</span> 
				</h4>
			</div>
			<br>
			<div class="questions card">
				<div *ngFor="let question of questions, let questionIndex = index">
					<div *ngIf="questionIndex == currentQuestionIndex" class="question">
						<h3 class="title">Question {{questionIndex+1}}/{{ questions?.length }}</h3>
						<br>
						<h2>{{question.question}}</h2>
						<br>
						<div class="answers">
							<button *ngFor="let answer of question.answers" class="btn btn-default" (click)="choseAnswer(answer)">{{answer.answer}}</button>
						</div>
					</div>
				</div>
				<div *ngIf="currentQuestionIndex == questions?.length" class="result">
					<h2 [ngClass]="{ 'success' :  success, 'failure' : !success}" >{{success? 'Attack repelled!' : 'Singularity is taking over your terminal...'}}</h2>
					<h4 class="score">Correct answers: {{score+'/'+questions.length}}</h4>
				</div>
			</div>
		</div>
	</div>
</app-modal>