@import '../../styles/common';

.quiz{
    color: $primaryText;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    .card{
        padding: 1em;
        width: 40em;
    }

    .text{
        display: grid;
        grid-template-columns: 15% 85%;
        align-items: center;
        grid-column-gap: 1em;

        #info{
            width: 3.5em;
            justify-self: center;
        }

        h4{
            font-weight: 300;
            font-size: 18px;
            line-height: 1.2;

            #attack{
                color: $warningColor;
                font-weight: 500;
            }
    
            #outof{
                font-weight: 500;
            }
        }
    }

    .questions{
        .answers{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            flex-wrap: wrap;

            button{
                min-width: 9em;
                font-weight: 500;
                margin-top: 1em;
            }
        }
        .question{
            display: flex;
            flex-direction: column;

            h2{
                align-self: center;
                font-size: 22px;
                font-weight: 300;
                margin-bottom: 0;
            }

            h3.title{
                margin: 0;
                padding: 0;
            }
        }

        .result{
            width: 100%;
            text-align: center;

            h2{
                font-size: 26px;
                font-weight: 300;
            }

            .success{
                color: $primaryBlue;
            }

            .failure{
                color: $errorColor;
            }

            .score{
                font-weight: 500;
            }
        }
    }
}