<div class="sokoban-game" (click)="sokobanService.focusSokoban()">
    <div class="controls-sokoban">
        <div *ngIf="currentIndex != -1" id="info">
            <h3 class="title"> {{ sokobanLevels[currentIndex].name }}</h3>
            <p id="difficulty">{{ sokobanLevels[currentIndex].difficulty }}</p>
        </div>
        <div *ngIf="currentIndex != -1" class="buttons">
            <button class="btn btn-default restart">
                <i class="fas fa-undo"></i>
            </button>
            <button class="btn btn-default undo">
                <i class="fas fa-chevron-circle-left"></i>
            </button>
        </div>
    </div>
    <div *ngIf="currentIndex != -1" id="sokoban" [hidden]="!isGraphicLoaded">
        <pre *ngFor="let level of sokobanLevels; let index = index" class="sokoban level" [hidden]="index != currentIndex">{{ sokobanLevels[index].game }}
        </pre>
        <div *ngIf="solved" class="chechmarkTopLevel">
            <svg height="100%" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 98.5 98.5" enable-background="new 0 0 98.5 98.5" xml:space="preserve"><style type="text/css">.checkmark { stroke: rgb(43, 224, 52); stroke-dashoffset: 745.74853515625; stroke-dasharray: 745.74853515625; animation: dash 2s ease-out forwards infinite;} @keyframes dash { 0% { stroke-dashoffset: 745.74853515625; } 100% { stroke-dashoffset: 0; } }</style> <path class="checkmark" fill="none" stroke-width="6" stroke-miterlimit="10" d="M81.7,17.8C73.5,9.3,62,4,49.2,4 C24.3,4,4,24.3,4,49.2s20.3,45.2,45.2,45.2s45.2-20.3,45.2-45.2c0-8.6-2.4-16.6-6.5-23.4l0,0L45.6,68.2L24.7,47.3"/> </svg>
        </div>
    </div>
    <span *ngIf="currentIndex == -1" id="allLevelsDone">Tous les niveaux ont été réussi. Essaye de reconstituer la phrase pour sauver Singularity !</span>
</div>