@import '../../styles/common';

@mixin baseStation($color, $animation) {
	background-image: url('data:image/svg+xml;utf8,<?xml version="1.0" encoding="utf-8"?><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 38.6 38.6" style="enable-background:new 0 0 38.6 38.6;" xml:space="preserve"> <style type="text/css"> .bts-color{fill:%23007BEA;} .big-circle{fill:%23FFFFFF;animation-delay: 0.25s;fill-opacity:0.5;} .trunk{fill:%23FFFFFF;} .small-circle{animation-delay: 0s;fill:%23FFFFFF;fill-opacity:0.5;} .flash{animation-name: #{$animation}; animation-duration: 1s; animation-iteration-count: infinite; animation-timing-function: ease-in-out;} @keyframes flash { from { fill-opacity:1; } 50% { fill-opacity:0; } to { fill-opacity:1; } }</style> <circle class="bts-color" cx="19.3" cy="19.3" r="18"/> <g> <g> <g> <g> <g> <path class="big-circle flash" d="M19.3,6.8c-6.2,0-11.1,4.9-11.1,11.1c0,4.8,3.1,8.9,7.3,10.4l0.4-1.6c-3.5-1.4-6.1-4.8-6.1-8.9 c0-5.2,4.3-9.5,9.5-9.5s9.5,4.3,9.5,9.5c0,4-2.5,7.5-6.1,8.9l0.4,1.6c4.2-1.6,7.3-5.6,7.3-10.4C30.4,11.7,25.4,6.8,19.3,6.8z" /> </g> </g> <g class="small-circle flash"> <g> <path class="st1" d="M19.3,11c-3.8,0-6.9,3.1-6.9,6.9c0,2.8,1.7,5.2,4.1,6.3l0.4-1.7C15.2,21.7,14,20,14,17.9 c0-2.9,2.3-5.2,5.2-5.2s5.2,2.3,5.2,5.2c0,2.1-1.1,3.8-2.9,4.7l0.4,1.7c2.4-1.1,4.1-3.5,4.1-6.3C26.2,14.1,23.1,11,19.3,11z"/> </g> </g> </g> </g> <path class="trunk" d="M18.4,22.5l-2.1,10.9c-0.1,0.6,0.3,1.1,0.9,1.1h4.3c0.6,0,1-0.6,0.9-1.1l-2.1-10.9 C20,21.4,18.6,21.4,18.4,22.5z"/> <circle class="trunk" cx="19.3" cy="17.9" r="2.1"/> </g> </svg>');
	background-repeat: no-repeat;
	}

@mixin energyDock() {
	background-image: url('data:image/svg+xml;utf8,<?xml version="1.0" encoding="utf-8"?><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 21.1 44.1" style="enable-background:new 0 0 21.1 44.1;" xml:space="preserve"> <style type="text/css"> .st0{fill:%23FFC107;} .st1{animation-name: flash; animation-duration: 1s; animation-iteration-count: infinite; animation-timing-function: ease-in-out;} @keyframes flash { from { fill:%23FFFF00; } 50% { fill:transparent; } to { fill:%23FFFF00; } }</style> <g> <g> <path class="st0" d="M8.3,42.7c-0.2,0-0.4-0.1-0.6-0.2c-0.5-0.6-0.4-1.2-0.3-1.5l0-0.1l0.7-3.3c0.7-3.3,1.3-6.6,2-9.9 c0-0.1,0-0.2,0-0.2c0,0-0.1,0-0.2-0.1c-1.6-0.3-3.2-0.6-4.8-1c-0.8-0.2-1.7-0.4-2.5-0.6c-0.5-0.1-1.1-0.3-1.4-0.9 c-0.3-0.6-0.1-1.2,0.1-1.7c1.5-3.7,3-7.3,4.5-11C7,9.3,8.1,6.4,9.3,3.4c0-0.1,0.1-0.2,0.1-0.3c0.2-0.5,0.4-1.3,1.3-1.7 c0.1-0.1,0.2-0.1,0.3-0.1c0.2,0,0.3,0.1,0.5,0.2c0.2,0.2,0.4,0.5,0.3,0.8l-0.2,1.6c-0.2,1.2-0.3,2.4-0.5,3.6 c-0.4,2.8-0.9,6.3-1.5,9.7c0,0.1,0,0.1,0,0.2c0,0,0.1,0,0.2,0.1c1.4,0.3,2.8,0.6,4.1,0.9c1.5,0.3,3,0.7,4.5,1 c0.3,0.1,1.1,0.2,1.4,0.8c0.3,0.5,0,1.1-0.2,1.6c-2.6,5-5.1,10-7.6,15.1l-2.6,5.2C9.3,42.1,9.1,42.7,8.3,42.7 C8.4,42.7,8.3,42.7,8.3,42.7z"/> <path class="st1" d="M11.1,2.2c-0.2,1.7-0.4,3.4-0.7,5.1c-0.5,3.2-0.9,6.5-1.5,9.7c-0.1,0.8,0.1,1,0.8,1.1 c2.9,0.6,5.7,1.3,8.6,1.9c0.9,0.2,1.1,0.4,0.6,1.3C15.5,28,12.1,34.8,8.7,41.6c-0.1,0.2-0.1,0.3-0.4,0.3c-0.3-0.3-0.1-0.6,0-0.9 c0.9-4.4,1.7-8.8,2.6-13.2c0.2-0.8-0.1-1.1-0.9-1.2c-2.5-0.4-4.9-1-7.3-1.5c-1-0.2-1.1-0.6-0.8-1.5c2.7-6.6,5.4-13.2,8-19.8 C10.3,3.2,10.4,2.5,11.1,2.2 M11.1,0.6c-0.2,0-0.5,0.1-0.7,0.2C9.2,1.3,8.9,2.3,8.7,2.9C8.7,3,8.6,3,8.6,3.1C7.4,6.1,6.2,9,5,12 c-1.5,3.7-3,7.3-4.5,11c-0.2,0.4-0.6,1.4,0,2.4c0.5,1,1.6,1.2,2,1.3C3.3,26.8,4.1,27,5,27.2c1.4,0.3,2.8,0.6,4.3,0.9 c-0.6,3.1-1.3,6.2-1.9,9.3l-0.7,3.4l0,0.1c-0.3,0.9-0.1,1.7,0.5,2.3c0.3,0.3,0.7,0.5,1.1,0.5c0,0,0,0,0,0c0.4,0,1.2-0.2,1.7-1.2 l2.7-5.3c2.5-4.9,5.1-10.1,7.6-15.1c0.2-0.4,0.7-1.3,0.2-2.3c-0.5-1-1.5-1.2-1.9-1.3c-1.5-0.3-3-0.6-4.5-1 c-1.2-0.3-2.4-0.5-3.6-0.8c0.5-3.2,1-6.5,1.4-9.1c0.2-1.2,0.3-2.4,0.5-3.6c0.1-0.5,0.1-1.1,0.2-1.6c0.1-0.6-0.2-1.2-0.6-1.5 C11.7,0.7,11.4,0.6,11.1,0.6L11.1,0.6z M11.1,3.8L11.1,3.8L11.1,3.8L11.1,3.8z"/> </g> </g> </svg> ');
	background-repeat: no-repeat;

}

@mixin levelComplete(){
	background-image: url('data:image/svg+xml;utf8,<?xml version="1.0" encoding="utf-8"?><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 98.5 98.5" enable-background="new 0 0 98.5 98.5" xml:space="preserve"><style type="text/css">.checkmark { stroke: %2339B54A; stroke-dashoffset: 745.74853515625; stroke-dasharray: 745.74853515625; animation: dash 2s ease-out forwards infinite;} @keyframes dash { 0% { stroke-dashoffset: 745.74853515625; } 100% { stroke-dashoffset: 0; } }</style> <path class="checkmark" fill="none" stroke-width="6" stroke-miterlimit="10" d="M81.7,17.8C73.5,9.3,62,4,49.2,4 C24.3,4,4,24.3,4,49.2s20.3,45.2,45.2,45.2s45.2-20.3,45.2-45.2c0-8.6-2.4-16.6-6.5-23.4l0,0L45.6,68.2L24.7,47.3"/> </svg>');
	background-repeat: no-repeat;
	background-position: center;
}

  

$gameBlockSize: 3em;

.sokoban-game{
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-rows: 10% 90%;
	padding: 1.5em;
	position: relative;

	.controls-sokoban{

		display: grid;
		grid-template-columns: 50% 50%;

		#info{
			.title{
				margin-top: 0;
				margin-bottom: 0;
				padding: 0;
				font-size: 20px;
			}

			#difficulty{
				color: $secondaryTextColor;
				font-weight: 300;
				font-size: 14px;
			}
		}

		.buttons{
			justify-self: end;
			height: 100%;
			vertical-align: top;
			z-index: 100;

			button{
				background-color: transparent;
				padding: 0 1em;
				opacity: 0.6;

				
				&:hover{
					opacity: 1;
				}
			}
		}
	}

	#sokoban{
		align-self: center;
		text-align: center;
		position: relative;
	}

	#allLevelsDone{
		align-self: center;
		text-align: center;
		color: white;
		font-weight: 300;
    	font-size: 20px;
	}
	
}

code, pre {
	background-color: $cardBackgroundColor;
	border: none;
	color: white;
	margin: 0;
	padding: 0;
	justify-self: center;
	overflow: visible;
	align-self: center;
	position: relative;
}
  
h1 {
	margin : 0;
}
h2 {
		font-size : 1.2em;
		margin : .5em 0;
}
  
hr {
	color : #ccc;
	height : 0;
	border : 0;
	border-top : 1px solid #ccc;
	margin : 1em 0;
}

.sokoban :focus {
	outline : 1px dotted black;
}

#nav div,
#top p {
	max-width : 50em;
}

a {
	text-decoration : none;
	color : #00c;
}
a:visited {
	color : #066;
}
a:hover,
a:active,
a:focus {
	text-decoration : underline;
	color : #c00;
}

em {
	color : #000;
}

#nav a {
	white-space : nowrap;
}

.soko-floor,
.soko-wall,
.soko-dock,
.soko-indent {
	display : block;
	height : $gameBlockSize;
	width : $gameBlockSize;
	float : left;
	overflow : hidden;
	text-indent : -999em;
}
.soko-line {
	overflow : hidden;
}
.soko-room {
	display : inline-block;
	padding : 1px;
	line-height : 1;
}
.soko-indent,
.soko-floor,
.soko-wall,
.soko-dock,
.soko-box,
.soko-worker {
	background : $cardBackgroundColor;
}

.soko-indent {
	background : $cardBackgroundColor;
}
.soko-wall {
	background : url(../../assets/images/sokoban/sokoban-wall.svg) no-repeat;
	background-size: $gameBlockSize + 0.1;
	filter: brightness(75%);
}
.soko-dock {
	@include energyDock();
	background-size: $gameBlockSize/3.5;
	background-position: center;
}
.soko-box {
	@include baseStation($buttonsOnCards, 'none');
	background-size: $gameBlockSize;
}
.soko-worker {
	background : url(../../assets/images/sokoban/sokoban-character.svg) no-repeat;
	background-size: $gameBlockSize/1.5;
	background-position: center;
}

.chechmarkTopLevel{
	width: 75%;
	height: 75%;
	position: absolute;
	top: 0;
	left: 0;
	transform: translate(16.5%,16.5%);
	text-align: center;
	vertical-align: center;
	//@include levelComplete();
}

.soko-box.soko-dock {
	@include baseStation($primaryBlue, 'flash');
}
.soko-solved .soko-room {
	opacity : .5;
	filter:  blur(3px);
}
.soko-room:after {
	content : attr(title);
	display : block;
	text-align : center;
	font-size : .9em;
}
