<h3 class="title">Game controls</h3>
<div class="buttons">
	<button 
		class="btn btn-default" 
		(click)="playIntro()"
		[disabled]="gameStarted">
		INTRO
	</button>
	<button [class]="gamePaused || !gameStarted ? 'btn btn-success' : 'btn btn-warning'" 
			(click)="action()"
			[disabled]="endOfGame">
		{{startPauseResume}}
	</button>
	<button class="btn btn-danger" (click)="abandon()">
		ABANDON
	</button>
</div>