@import '../../styles/common';

h3{
    margin-top: 0;
    margin-bottom: 0.5em;
    // font-size: 13px;
    // color: white;
}

.buttons{
    display: grid;
    grid-template-columns: auto auto auto;  
    grid-column-gap: 4em;
}