<!-- <p class="text-muted">Chat</p> -->
<div class="all">
    <div #discussion class="discussion">
        <div *ngFor="let message of messages" [class]="isFromMe(message)? 'message fromMe' : 'message fromOthers'">
            <small *ngIf="!isFromMe(message)" class="text-muted">{{message.sender.name}}
                <i class="fa fa-flag-checkered" aria-hidden="true" *ngIf="isFromModerator(message)" title="Moderator"></i>
            </small>
            <div class="content">
                {{message.content}}
            </div>
        </div>

    </div>
    <div class="newMessage">
        <input id="message" type="text" placeholder="Type a message..." class="form-control" [(ngModel)]="newMessage.content" (keyup.enter)="sendMessage()">
        <button id="send" class="btn btn-primary" (click)="sendMessage()">Send</button>
    </div>
</div>