@import '../../styles/common';

.wordwrap {
    -ms-word-break:   break-all;
   
    word-break:       break-word;
    word-wrap:        break-word;
   
    -webkit-hyphens:  auto;
       -moz-hyphens:  auto;
            hyphens:  auto;
  }

.content {
    
    border-radius: 0.6em;
    padding: 0.3em 0.4em;
    width: fit-content;
    margin: 0.2em;
    @extend .wordwrap;
}

.all {
 
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    height: 100%;

    .discussion:hover::-webkit-scrollbar-thumb
    {
        border-radius: 1em;
        background-color: #aaa;
    }

    .discussion {
        overflow-y: scroll;
        display: flex;
        flex-direction: column;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        padding-left: 0.5em;

        .message.fromMe {
            align-self: flex-end;

            .content {
                background-color: #0275D8;
                color: white;
            }

        }

        .message.fromOthers {
            align-self: flex-start;

           .content {
                background-color: lightgray;
           }
        }


    }

    .newMessage{
        background-color: rgb(50,63,76);
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        padding: 1.5em;

        display: grid;
        grid-template-columns: 80% 20%;
        grid-gap: 1.2em;

        #message{
            width: 100%;
            height: 100%;
            background-color: $cardBackgroundColor; 
            border: none;
            color: white;
        }

        #send{
            margin-right: 1em;
        }
    }
}


div::-webkit-scrollbar-track
{
	border-radius: 10px;
	background-color: transparent;
}

div::-webkit-scrollbar
{
	width: 0.5em;
    background-color: transparent;
    opacity: 0;
}

div::-webkit-scrollbar-thumb
{
	border-radius: 1em;
	background-color: transparent;
}

div::-webkit-scrollbar-thumb:hover
{
    background-color: #666;
}
