@import '../../styles/common';

.dashboard-moderator {
    grid-template-rows: max-content auto;

    #dashboardHeader{
        grid-column: 1 / 3;
    }

    .left-panel{
        display: grid;
        grid-template-rows: max-content auto;
        grid-row-gap: 1em;

        .control{
            width: 100%;
            height: 100%;
            padding: 1.5em;
            padding-top: 1em;
        }
    
        .status{
            /* autoprefixer: off */
            width: 100%;
            height: 100%;
            //opacity: 0.5;
        }
    }
    
    .right-panel{
        display: grid;
        grid-template-rows: 49% 49%;
        grid-row-gap: 1em;

        .chat{
            /* autoprefixer: off */
            //grid-row: 2 / 4;
            width: 100%;
            height: 100%;
            //opacity: 0.5;
        }
        
        .console{
            /* autoprefixer: off */
            //grid-row: 4 / 6;
            width: 100%;
            height: 100%;
            //opacity: 0.5;
        }
    }
    
}
