<div class="dashboard dashboard-moderator">
	<app-dashboard-header id="dashboardHeader"></app-dashboard-header>
	<div class="left-panel">
		<app-game-controls class="control card"></app-game-controls>
		<!-- <game-status *ngIf="gameService.isJuniorGame()" class="status card"></game-status> -->
		<code-editor *ngIf="!gameService.isJuniorGame()" class="gameBox card"></code-editor>
	</div>
	<div class="right-panel">
		<chat-box class="chat card"></chat-box>
		<console class="console card"></console>
	</div>
</div>