.dashboard-player {
    grid-template-rows: max-content 35% 49%;

    .gameBox{
        /* autoprefixer: off */
        grid-row: 2 / 4;
        width: 100%;
        height: 100%;
        //opacity: 0.5;
    }
    
    .chat{
        grid-row: 2;
        width: 100%;
        height: 100%;
        //opacity: 0.5;
    }
    
    .console{
        grid-row: 3;
        width: 100%;
        height: 100%;
        //opacity: 0.5;
    }
}