<div class="dashboard dashboard-player">
	<app-dashboard-header id="dashboardHeader"></app-dashboard-header>
	<!-- <app-sokoban *ngIf="gameService.isJuniorGame()" class="gameBox card"></app-sokoban> -->
	<code-editor *ngIf="!gameService.isJuniorGame()" class="gameBox card"></code-editor>
  <app-fubuki *ngIf="gameService.isJuniorGame()" class="gameBox card"></app-fubuki>
	<chat-box class="chat card"></chat-box>
	<console class="console card"></console>
</div>
