@import '../../styles/common';

.header{
    display: grid;
    grid-template-columns: 70% auto 10%;
    width: auto;

    #volume{
        align-self: center;
        justify-self: center;
        font-size: 26px;
        background-color: transparent;
        opacity: 0.6;

        &:hover{
            opacity: 1;
        }
    }

    #logo{
        height: 5em;
        margin: $itemPadding;
    }

    .remainingTime{
        grid-column: 3;
        justify-self: end;
        align-self: center;
        padding-bottom: 0.5em;
        padding-right: 1em;

        .title{
            font-size: 12px;
            margin-top: 0;
        }

        #clock{
            padding: 0.1em;
            line-height: 50%;
            font-size: 35pt;
            color: white;
        }
    }
}