<div class="header card">
	<img id="logo" src="assets/images/dashboardHeaderLogo.svg" />
	<button 
		*ngIf="volumeOn && isModerator"
		(click)="stopMusic()" 
		class="btn btn-default" 
		id="volume">
			<i class="fas fa-volume-up"></i>
	</button>
	<button 
		*ngIf="!volumeOn && isModerator" 
		(click)="startMusic()" 
		class="btn btn-default" 
		id="volume">
			<i class="fas fa-volume-off"></i>
	</button>
	<div class="remainingTime">
		<h3 class="title">Remaining time</h3>
		<span id="clock">{{ gameService.printRemainingTime() }}</span>
	</div>
</div>