$backgroundcolor: #0D1218;
$backgroundImgPath:'../assets/images/background.jpg';
$primaryBlue: #007BEA;
$wellColor: #0A0C0F;
$wellOnCardColor: #101319;
$buttonsOnCards: #323F4C;
$errorColor: #F44336;
$cardBackgroundColor: #1D2730;
$primaryText: #EEE;
$secondaryText: #999999;
$green: #8CC63F;
$red: #C1272D;
$buttonSuccess: #39B54A;
$secondaryTextColor: #B3B3B3;
$defaultButtonText: #CCC;
$warningColor: #FFC107;

$itemBorderRadius: 13px;
$itemPadding: 0.6em;

$gridDashboardGap : 1em;