.loader,
.loader:after {
  $size: 7em;
  border-radius: 50%;
  width: $size;
  height: $size;
}
.loader {
  //margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  $borderWidth: 0.35em;
  border-bottom: $borderWidth solid transparent;
  border-right: $borderWidth solid transparent;
  border-top: $borderWidth solid #ffffff;
  border-left: $borderWidth solid #ffffff;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite cubic-bezier(0.455, 0.03, 0.515, 0.955);
  animation: load8 1.1s infinite ease-in-out;

  &.centerInPage {
    position: absolute;
    top: calc(50% - 10em);
    left: calc(50% - 5em);
  }

}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


