@import 'bootstrap-custom';
//@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');
@import 'loader';
@import 'common';

html{
    height:100%;
    background-color: $backgroundcolor;
}

body {
    background-color: $backgroundcolor;
    background: url($backgroundImgPath) top center;
    font-family: 'Open Sans', sans-serif;
    height: 100%;
    padding: 1em;
}

* {
    outline: none !important;
}


.myModal {
    width: 100%;
    height: 100%;
    margin: 0em;
    border-radius: 0em;
}

.fullscreen {
    width: 100%;
    height: 100%;
    margin: 0em;
    border-radius: 0em;
    .modal-content {
        @extend body;
    
        width: 100%;
        height: 100%;
        margin: 0em;
        border-radius: 0em;
    }
}

.dashboard {
    display: grid;
    height: 100%;
    grid-template-columns: 53% auto;
    grid-gap: $gridDashboardGap;

    #dashboardHeader{
        grid-column: 1/3;
    }
}

@mixin darkenBackground($backgroundColor) {
    background: darken($color: $backgroundColor, $amount: 5%);
}

//buttons
.btn {
    padding-top: $itemPadding;
    padding-bottom: $itemPadding;
    padding-right: $itemPadding*2.4;
    padding-left: $itemPadding*2.4;

    border-radius: $itemBorderRadius;


    &.btn-med {
        padding-top: $itemPadding * 0.8;
        padding-bottom: $itemPadding * 0.8;
    }

    &.btn-primary {
        background: $primaryBlue; 
        &:hover {
            @include darkenBackground($primaryBlue);
        }
    }

    &.btn-success {
        background-color: $buttonSuccess;
        &:hover {
            @include darkenBackground($buttonSuccess);
        }
    }

    &.btn-danger {
        background-color: $red;
        &:hover {
            @include darkenBackground($red);
        }
    }

    &.btn-default {
        background-color: $buttonsOnCards;
        border: none;
        color: $defaultButtonText;
        &:hover {
            @include darkenBackground($buttonsOnCards);
        }
        &:active{
            box-shadow: none;
        }
    }

    &.btn-outline {
        $mainColor: white;
        background: transparent;
        border: $mainColor solid 1.5px;
        color: $mainColor;

        &:hover {
            background: $mainColor;
            color: $backgroundcolor;
        }
    }

    &:disabled, &[disabled] {
        filter: grayscale(100%) opacity(60%);
    
        &:hover {
            background: $primaryBlue;
        }
}
}



//inputs 
input.line-input, textarea{
    background: $wellColor;
    padding: $itemPadding $itemPadding*1.5;
    border-radius: $itemBorderRadius;
    border: lighten($color: $backgroundcolor, $amount: 10%) solid 1.5px;
    color: #EEE;

    &:focus {
        background: darken($color: $wellColor, $amount: 2%)
    }

    &.onCard {
        border: none;
        background-color: $wellOnCardColor;
        &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
            color: $cardBackgroundColor;
          }
        &::-moz-placeholder { /* Firefox 19+ */
            color: $cardBackgroundColor;
          }
        &:-ms-input-placeholder { /* IE 10+ */
            color: $cardBackgroundColor;
          }
        &:-moz-placeholder { /* Firefox 18- */
            color: $cardBackgroundColor;
          }
    }

    $placeholderTextColor: lighten($color: $backgroundcolor, $amount: 10%);
    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: $placeholderTextColor;
      }
    &::-moz-placeholder { /* Firefox 19+ */
        color: $placeholderTextColor;
      }
    &:-ms-input-placeholder { /* IE 10+ */
        color: $placeholderTextColor;
      }
    &:-moz-placeholder { /* Firefox 18- */
        color: $placeholderTextColor;
      }

}

div.appRoot {
    -webkit-filter: blur(5px); /* Safari 6.0 - 9.0 */
    filter:  blur(5px);
}


/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
 
    /* Position the tooltip text - see examples below! */
    width: 120px;
    bottom: 100%;
    left: 50%; 
    margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}

.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 100%; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.card {
    border-radius: 10px;
    background: $cardBackgroundColor;

    &:hover {
        filter: brightness(1.05);
    }

}

h3.title {
    font-weight: 500;
    color: #EEE;
    font-size: 14px;
    padding: 0.6em;
    margin-bottom: 0.4em;
}