@import '../../styles/common';

#gameList {
    display: flex;
    flex-direction: column;

    .noGames {
        margin: 2em 1em;
        color: $secondaryText;
        font-weight: 300;
        font-size: 18px;
        max-width: 75%;
        text-align: center;
        align-self: center;
        line-height: 1.4em;
    }
}