<div >
	<h3 class="title" >{{gameService.listAvailableGames().length > 0? 'Available games' : ''}}</h3>
	<div id="gameList">
		<h4 *ngIf="gameService.listAvailableGames().length == 0" class="noGames">There are no available games at the moment. You can wait or host your own game!</h4>
		<div *ngFor="let game of gameService.listAvailableGames()">
			<gamecard [game]="game"></gamecard>
			<br>
		</div>
	</div>
</div>