@import '../../styles/common';

#test{
	height: 100%;
	margin-top: 10px;
	margin-left: 10px;
	
	#info{
		.title{
			margin-top: 0;
			margin-bottom: 0;
			padding: 0;
			font-size: 20px;
		}

		#difficulty{
			color: $secondaryTextColor;
			font-weight: 300;
			font-size: 14px;
		}
	}

	#myCanvas{
		background-color: transparent;
		position: absolute;
	}
	#inputs{
			position: relative;
			background-color: red;
		#myInput{
			background-color: transparent;
			border: transparent;
			margin-top:-23px;
			margin-left:-30px;
			font-size: 28px;
			width: 60px;
			height: 40px;
			position: absolute;
			background: transparent;
			border: transparent;
			text-align: center;
			color: white;
			opacity: 0.8;
			-moz-appearance: textfield;
		}

		#myInput::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
			-webkit-appearance: none;
			margin: 0;
		}
	}

	.chechmarkTopLevel{
		height: 75%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}

#finalMessage{
	height: 100%;
	width: 100%;
	display: flex;
	#allLevelsDone{
		align-self: center;
		text-align: center;
		color: white;
		font-weight: 300;
		font-size: 20px;
		margin: 3px;
	}
}
