@import '../../styles/common';

.intro{
    color: $primaryText;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    .wavesound{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: stretch;
        align-items: center;
        grid-gap: 0.5em;
        height: 12em;

        .wave{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            width: 100%;

            height: 12em;

            #wave {
                height: 100%;
                width: 100%;
                fill: #fff;
            }
            
            @for $i from 1 through 9 {
                #Line_#{$i} {
                    animation: pulse 1s infinite;
                    animation-delay: $i * .15s;
                }
            }
            
            @keyframes pulse {
                0% {
                    transform: scaleY(1);
                    transform-origin: 50% 50%;
                }
                
                50% {
                    transform: scaleY(.7);
                    transform-origin: 50% 50%;
                }
                
                100% {
                    transform: scaleY(1);
                    transform-origin: 50% 50%;
                }
            }
        }

        #logo{
            width: 10em;
            margin: 1em;
            justify-self: center;
        }
        
        
    }

    .text{
        text-align: center;
        padding-top: 2em;
        padding-bottom: 3em;
        padding-left: 1em;
        padding-right: 1em;
        font-size: 22px;
        font-weight: 300;
    }

    .skip{
        padding-bottom: 1em;
        padding-right: 1em;
        text-align: right;
    }
}

.card{
    padding: 1em;
    padding-top: 3em;
    width: 40em;
    opacity: 0.8;
}

.frequencyBar {
    width: 0.25em;
    height: 10em;
    background-color: #fff;
    border-radius: 0.1em;
}

.text-anim{
    position: relative;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 180%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);    
}

/* Animation */
.anim-typewriter{
  animation: typewriter 4s steps(44) 1s 1 normal both,
             blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 100%;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}