<app-modal #modal="modal">
    <div modal-fullscreen>
        <div class="intro card">
            <div class="wavesound">
                <div class="wave">
                        <div class="frequencyBar" *ngFor="let barHeight of barHeights" [style.height]="barHeight+'em'"></div>
                </div>
                <img id="logo" src="assets/images/logoWithoutText.svg" alt="">
                <div class="wave">
                        <div class="frequencyBar" *ngFor="let barHeight of barHeights?.reverse()" [style.height]="barHeight+'em'"></div>
                </div>
            </div>

            <div class="text">
            <!-- <div class="text-anim anim-typewriter"> -->
                {{ currentSpeechSegment }}
            </div>
            <div class="skip">
                <button class="btn btn-default" (click)="hide()">SKIP</button>
            </div>
        </div>
    </div>
</app-modal>