<div class="gamecard card">
  <div class="gameSummary">
    <div class="titleStatus">
      <div class="gameTitle">
        <img id="logo" src="assets/images/logoWithoutText.svg" alt="">
        <h3>{{game?.name}}</h3><h4 id="type" *ngIf="game.type === 'Junior'">({{ game.type }})</h4>
      </div>
    </div>
    <div class="gameDetails">
      <p class="status">{{game?.status}}</p>
      <div class="numberOfPlayers">
        <h4>{{game?.maxPlayerCount - game?.currentPlayerCount}}/{{game?.maxPlayerCount}} SPOTS LEFT</h4>
        <div class="progressBar">
          <div [class]="game?.maxPlayerCount === game?.currentPlayerCount ? 'red' : 'green'"
          [style.width]="(game?.currentPlayerCount*100/game?.maxPlayerCount)+'%'"></div>
        </div>
      </div>
      <!-- <p [class]="game?.currentPlayerCount == game?.maxPlayerCount ? 'text-danger' : 'text-success'">
        Players: {{game?.currentPlayerCount}}/{{game?.maxPlayerCount}}
      </p> -->
    </div>
  </div>

  <div class="gameAction">
    <button class="btn btn-primary" [disabled]='!game?.isJoinable' (click)="joinGame(game?.id)">
      JOIN
    </button>
  </div>
</div>