@import '../../styles/common';


div.gamecard
{
    display: grid;
    grid-template-columns: 7fr 2fr;
    align-items: center;

    .gameSummary {
        justify-self: start;
        padding: 1.3em;
        padding-top: 1em;
        padding-right: 0;
        width: 100%;

        .titleStatus {
            display: flex;
            flex-direction: row;
            align-items: flex-start;

            .gameTitle {
                display: flex;
                flex-direction: row;
                align-items: flex-start;

                #logo {
                    width: 2.5em;
                    align-self: center;
                }

                #type{
                    color: white;
                    font-weight: 300;
                }

                h3 {
                    color: #F2F2F2;
                    font-weight: 550;
                    margin: 0.2em 0.5em;
                    font-size: 25px;
                }
            }
        }
        .gameDetails {
            .status {
                color: $secondaryText;
                margin-top: 0.6em;
                margin-bottom: 0;
                font-size: 15px;
            }
    
            .numberOfPlayers {
                display: flex;
                flex-direction: column;
                width: 100%;

                h4 {
                    align-self: flex-end;
                    color: $secondaryText;
                    font-size: 12px;
                    margin: 0.4em 0em;
                    font-weight: 700;

                }

                .progressBar {
                    width: 100%;
                    height: 4px;
                    background-color: $buttonsOnCards;

                    div {
                        height: 100%;
                    }

                    .red {
                        background-color: $red;
                    }

                    .green {
                        background-color: $green;
                    }
                }
            }
        }
    }

    .gameAction {
        justify-self: center;
    }
}