<div class="content">
    <div id="inputContainer">
        <input [(ngModel)]='gameService.myPlayerProfile.name' (input)='checkName()' class="line-input" id="userName" (keypress)='onKeyPress($event)' type="text"
            placeholder="Enter your name...">
        <div *ngIf='isNameInvalid' id="errorIcon">
            <i class="fas fa-exclamation"></i>
        </div>
    </div>
    &nbsp;<br>
    <button (click)='goToGameList()' id="joinTaskForce" class="btn btn-primary">JOIN NOKIA TASK FORCE</button>
</div>