@import '../../styles/common';

div.content {
    display: flex;
    flex-direction: column;

    padding-top: 5em;

    $width: 25em;


    #userName, #joinTaskForce, #inputContainer {
        width: $width;
        align-self: center;
    }

    #inputContainer {
        position: relative;
        #errorIcon {
            color: $errorColor;
            position: absolute;
            transform: translate(-50%, -50%);
            top: 50%;
            right: 1em;
        }
    }

}
  
  
  