<div class="container">
  <button id="hostGame" (click)="hostNewGame()" class="btn btn-outline" *ngIf="!routingService.isOnNewGameScreen">HOST A GAME</button>
  <div class="row align-items-center">
    <div class="col col-md-2"></div>
    <div id="mainCol" class="col col-md-8">


      <div id="logo">
        <img (click)='goToLandingPage()' src="assets/images/LandingPageLogo.svg">
      </div>

      <router-outlet></router-outlet>
    </div>
  </div>
</div>