div#gameList {
    max-height: 30em;
    overflow-y: auto;
}

div#newGameInfoUi {

    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;

    newgameinfo {
        grid-column: 1/3;
    }

    #newGameActions {
        
        grid-column: 2;
        justify-self: right;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1em;
    }
        

    // display: flex;
    // justify-content: center;

    //     div#newGameInfoUi{
    //         display: flex;
    //         flex-direction: column;

    //         div#newGameActions{
    //             display: flex;
    //             flex-direction: row;
    //             justify-content: flex-end;
    //             margin: 0.5em 0em;

    //             button{
    //                 margin: 0.5em;
    //             }
    //         }
    //     }
}


#newGame {
    display: grid;
    button {
        justify-self: center;
    }

}

#hostGame {
    position: absolute;
    right: 2em;
    top: 2em;
    z-index: 1000;
}

#mainCol {
    display: flex;
    flex-direction: column;
    justify-content: center;



    
    #logo {
        width: 40em;
        padding: 8em;
        padding-top: 6em;
        padding-bottom: 0;
        align-self: center;

        img {
            cursor: pointer;
        }
    }
}
