@import '../../styles/common';

.all {
    .pause{
        color: $primaryText;
        margin: 0 auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 30px;
        padding: 1em;
        font-weight: 300;

        #info{
            width: 2em;
            margin-right: 1em;
        }
    }
}