<app-modal #modal="modal">
    <div modal-fullscreen class="all">
        <div class="pause card">
            <img id="info" src="assets/images/info.svg" /> Game paused
        </div>
    </div>
</app-modal>