<app-modal #modal="modal">
	<div modal-fullscreen>
		<div class="success">
            <img id="logo" src="assets/images/logoWithoutText.svg" alt="">
            <p id="complete">M I S S I O N&nbsp;&nbsp;C O M P L E T E</p>
			<div class="text card">
                <span id="congrats">Congrats!</span>
                <p class="description">You save the network in <br><b>{{winTime.minutes}} minutes and {{winTime.seconds}} seconds</b></p>
            </div>
            <br>
            <div class="tip card">
                <div #animationEnd [hidden]="!displayMessage[0]" class="text-anim anim-typewriter">
                    Thank Humans. The network is not in danger anymore.
                </div>
                <div id="animationEnd2" [hidden]="!displayMessage[1]" class="text-anim anim-typewriter">
                    You have successfully repaired my neural network.
                </div>
                <div id="animationEnd3" [hidden]="!displayMessage[2]" class="text-anim anim-typewriter">
                   Here is a hint to open the locker   !
                </div>
                <div id="animationEnd4" [hidden]="!displayMessage[3]" class="text-anim anim-typewriter">
                    Blue Red Green Yellow   !
                 </div>
                <button *ngIf="hideButton" class="btn btn-default" (click)="goToLandingPage()">Retour</button>
            </div>
		</div>
	</div>
</app-modal>
