@import '../../styles/common';

.success{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $primaryText;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    #complete{
        font-weight: 300;
        font-size: 26px;
    }

    #logo{
        width: 4em;
        justify-self: center;
        margin: 1em;
    }
    
    .text{
        padding: 1em;
        display: flex;
        flex-direction: column;
        align-items: center;
        min-width: 35em;

        #congrats{
            font-size: 26px;
            font-weight: 300;
            color: $primaryBlue;
        }

        .description{
            margin: 1em;
            max-width: 60%;
            font-weight: 300;
            text-align: center;

            b{
                font-weight: 500;
            }
        }
    }
    
    .tip{
        width: 35em;
        padding: 2em;
        font-weight: 400;
        //display: grid;
        // grid-template-columns: 15% auto;
        // grid-row-gap: 1em;

        // #tip{
        //     font-size: 17px;
        //     align-self: center;
        //     text-align: center;

        //     #visible{
        //         color: $warningColor;
        //     }
        // }

        .text-anim{
            position: relative;
            font-family: 'lucida console';
            border-right: 2px solid rgba(255,255,255,.75);
            font-size: 100%;
            white-space: nowrap;
            overflow: hidden;  
        }
        
        /* Animation */
        .anim-typewriter{
            animation: typewriter 3s steps(44),
                        blinkTextCursor 500ms steps(44) infinite normal;
        }

        .animation-done{
            border-right: none;
        }

        div#animationEnd4{
            width: 92%;
        }

        @keyframes typewriter{
            from {
                width: 0;
            }
          
            to {
                width: 100%;
            }
        }

        @keyframes blinkTextCursor{
            from {
                border-right-color: rgba(255,255,255,.75);
            }
          
            to {
                border-right-color: transparent;
            }
        }

        .btn{
            margin-top: 2em;
            float: right;
        }
    }
}

