<h3 class="title">Host a new game</h3>
<div class="card newGame">
	<div class="info">
		<div class="header">
			<img id="logo" src="assets/images/logoWithoutText.svg" alt="">
			<input [(ngModel)]="game.name" class="line-input onCard" id="gameTitle" type="text" placeholder="Title" (input)='checkTitle()'>
			<div *ngIf='isTitleInvalid' id="errorIcon">
				<i class="fas fa-exclamation"></i>
			</div>
		</div>
		<br>
		<textarea [(ngModel)]="game.description" class="onCard" rows="5" placeholder="Description"></textarea>
	</div>


	<div class="settings">
		<div class="gameTypeSelector">
			<span *ngFor='let gameType of gameTypes' (click)='select(gameType)' class="choice {{game.type == gameType ? 'selected' : ''}}">{{gameType}}</span>
		</div>
		<div class="wrapDurationPlayer">
			<div class="durationAndNbPlayers">
				<span class="label">N° of players </span>
				<select [(ngModel)]="game.maxPlayerCount" class="customSelect">
					<option *ngFor='let nbPlayers of possibleNbPlayers' [value]="nbPlayers">{{nbPlayers}}</option>
				</select>
				<span class="label">Duration </span>
				<select [(ngModel)]="minutes" class="customSelect">
					<option *ngFor='let duration of gameDurationsInMin' [value]="duration">{{duration}} min</option>
				</select>
			</div>
		</div>
	</div>

	<div class="buttonAction">
		<button class="btn btn-default" (click)="cancel()">CANCEL</button>
		<button class="btn btn-primary" (click)="createNewGame()">CREATE</button>
	</div>

</div>