 @import '../../styles/common';

$externalPadding: 1.5em;

.newGame {
    padding: $externalPadding;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-row-gap: 0.8em;
    grid-column-gap: $externalPadding;

    .info {
        display: flex;
        flex-direction: column;
        justify-content: stretch;

        
        .header {
            display: flex;
            flex-direction: row;
            justify-content: stretch;
            align-items: center;

            #logo {
                width: 2.2em;
                margin-right: $externalPadding;
            }
    
            #gameTitle {
                width: 100%;
            }

            #errorIcon{
                color: $errorColor;
                position: absolute;
                right: 17.3em;
            }
        }

        textarea {
            resize: none;
        }
    }

    .settings {
        display: grid;
        grid-template-rows: 1fr 4fr;
        align-self: start;
        height: 100%;
        grid-row-gap: 0.8em;

        .wrapDurationPlayer{

            align-self: center;
            .durationAndNbPlayers{
                display: grid;
                grid-template-rows: 1fr 1fr;
                grid-template-columns: 1fr 1fr;
                grid-row-gap: 1em;
                align-items: center;
    
                .label{
                    color: $secondaryTextColor;
                    justify-self: start;
                }
    
                .customSelect{
                    border-radius: $itemBorderRadius;
                    background-color: $wellOnCardColor;
                    border: none;
                    color: $primaryText;
                    width: min-content;
                    padding: $itemPadding/2 $itemPadding;
                    justify-self: end;
                }
            }
        } 

        .gameTypeSelector {
            display: flex;
            flex-direction: row;
            margin-left: auto;
            justify-content: center;
            font-size: 13px;

            background-color: $buttonsOnCards;
            color: $secondaryTextColor;
            border-radius: $itemBorderRadius;

            .choice {
                padding: $itemPadding $itemPadding*2;
                cursor: pointer;

                &.selected {
                    background-color: $buttonSuccess;
                    border-radius: $itemBorderRadius;
                    color: $primaryText;
                }
            }
        }
    }

    .buttonAction{
        grid-column: 1/3;
        grid-row: 2; 
        justify-self: end;
        .btn{
            padding-top: $itemPadding*2/3;
            padding-bottom: $itemPadding*2/3;
            padding-right: $itemPadding*3;
            padding-left: $itemPadding*3;

            &.btn-default{
                margin-right: 0.8em;
            }
        }
    }   
}

