@import '../../styles/common';

.all{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    .passphrase{
        display: flex;
        flex-direction: column;
        align-items: stretch;

        width: 100%;
        height: 40%;

        h3.title {
            align-self: flex-start;
        }

        #passGridJunior{
            display:grid;
            grid-template-columns: 65% 35%;

            .actions-junior{
                text-align: center;

                #check{
                    width: 90%;
                    margin: 0.5em;
                    margin-bottom: 1em;
                }
            }
        }

        #passGridRegular{
         //   width: 100%;
            display: inline-flex;
         //   flex-direction: column;
         //   flex-wrap: nowrap;

          #guess{
            width: 80%;
            height: 70%;
            grid-column-start: 2;
            //align-self:auto;
            margin: 0.5em;
            margin-top: 0.25em;
            margin-bottom: 1em;
            margin-left: 2em;
          }

          #pass{
            text-align: center;
            width :100%;
            height: 60%;
            padding: 0%;
            grid-column-start: 1;
            margin: 0.5em;
            margin-bottom: 1em;
            background-color: $wellOnCardColor;
            border: none;
            border-radius: $itemBorderRadius;

          }
        }

    }

    .actions-regular{
        display: grid;
        grid-template-columns: auto auto;
        margin-bottom: 1em;
        margin-top: 3em;

        #compile{
            width: 80%;
            justify-self: center;
        }

        #run{
            width: 90%;
            justify-self: left;
        }
    }

    

    h3{
        margin-top: 0.5em;
        margin-left: 0.5em;
        margin-bottom: 0;
    }

    .console {
        resize: none;
        overflow-y: auto;
        background-color: $wellOnCardColor;
        color: white;
        font-family: Courier New, Courier, monospace;
        font-weight: 600;
        height: 100%;
        margin: 0.5em;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        padding-top: 0.3em;
        padding-left: 0.7em;

        .shell{
            color: $primaryBlue;
        }
    }

    .console:hover::-webkit-scrollbar-thumb
    {
        border-radius: 1em;
        background-color: #aaa;
    }

    div::-webkit-scrollbar-track
    {
        border-radius: 10px;
        background-color: transparent;
    }

    div::-webkit-scrollbar
    {
        width: 0.5em;
        background-color: transparent;
        opacity: 0;
    }

    div::-webkit-scrollbar-thumb
    {
        border-radius: 1em;
        background-color: transparent;
    }

    div::-webkit-scrollbar-thumb:hover
    {
        background-color: #666;
    }
}



