<div class="all">
    <div class="passphrase" *ngIf="!gameService.isModerator()">
        <h3 class="title">Passphrase</h3>
        <div *ngIf="gameService.isJuniorGame()" id="passGridJunior">
            <input type="text" 
            class="line-input onCard" 
            id="pass" 
            [(ngModel)]="phraseToEncrypt" 
            [placeholder]="gameService.passphraseMask">

            <div *ngIf="!gameService.isModerator()" class="actions-junior">
                <button class="btn btn-primary" id="check" (click)="check()">
                    <i class="fa fa-cogs" aria-hidden="true"></i>&nbsp;&nbsp;Check 
                </button>
            </div>
        </div>
        <div *ngIf="!gameService.isJuniorGame()" id="passGridRegular">
            <input type="text"
            class="line-input onCard" 
            id="pass" 
            [(ngModel)]="phraseToEncrypt" 
            [placeholder]="gameService.passphraseMask">
          <button *ngIf="!gameService.isTeenGame()" class="btn btn-primary" id="check" [disabled]="(!onrun)" (click)="check()">
            <i  class="fa fa-play" aria-hidden="true"></i>&nbsp;Check
          </button>
          <button *ngIf="gameService.isTeenGame()" class="btn btn-primary" id="guess" [disabled]="(!onrun)" (click)="guess()">
            <i  class="fa fa-play" aria-hidden="true"></i>&nbsp;Guess
          </button>
          </div>


    </div>
    <div *ngIf="!gameService.isModerator() && !gameService.isJuniorGame()" class="actions-regular">
        <button *ngIf="!inCompileTime" class="btn btn-primary" id="compile" (click)="compile()">
            <i  class="fa fa-cogs" aria-hidden="true"></i>
            &nbsp;&nbsp;Compile
        </button>
        <button *ngIf="inCompileTime" class="btn btn-primary" id="compile" (click)="compile()">
            <i class="fa fa-spinner fa-spin"></i>
            &nbsp;&nbsp;Compile&nbsp;
        </button>
        <button class="btn btn-success" id="run" (click)=run() [disabled]="!binaryWasCreated" onclick="this.disabled = 'disabled'">
            <i class="fa fa-play" aria-hidden="true"></i>&nbsp;&nbsp;Run
        </button>
    </div>
    
    <h3 class="title">Console output</h3>
    <div #console class="console">
        <span class="shell"> {{ shellText }} </span>
    </div>
</div>
