<div style="height:100%;" [class.appRoot]="routingService.isSecondLevelModalOpen">
    <div style="height:100%;" [class.appRoot]="routingService.isModalOpen">
        <router-outlet></router-outlet>
    </div>
    
    <router-outlet name="modal"></router-outlet>
</div>

<router-outlet name="secondLevelModal"></router-outlet>
