<div class="all">
  <h3 class="text-muted">Edit quiz popups</h3>
  <hr>
  <div *ngFor="let popup of popups, let popupIndex = index" class="popup">
    <h4>Popup {{popupIndex+1}}</h4>
    <div *ngFor= "let quizQuestion of popup, let questionIndex = index" class="quizQuestion">
      <h5>Question {{questionIndex+1}}</h5>
      <div class="question">
        <textarea class="form-control" id="question" [(ngModel)]="quizQuestion.question"></textarea>
      </div>
      <div class="answers">
        <h6>Answers</h6>
        <div *ngFor="let answer of quizQuestion.answers, let answerIndex = index" class="answer form-group">
          <div class="isCorrect"><input type="checkbox" [(ngModel)]="answer.isCorrect"></div>
          <input class="form-control" type="text" [(ngModel)]="answer.answer">
          <button class="btn btn-danger" (click)="deleteAnswer(quizQuestion, answerIndex)">Delete answer</button>
        </div>
        <button class="btn btn-primary" (click)="addAnswer(quizQuestion)">Add answer</button>
      </div>
      <br>
      <button class="btn btn-danger" (click)="deleteQuestion(popup, questionIndex)">Delete question</button>
      <hr>
    </div>
    <button class="btn btn-primary" (click)="addQuestion(popup)">Add Question</button>
    <button class="btn btn-danger" (click)="deletePopup(popupIndex)">Delete popup</button>
    <hr>
  </div>
  <button class="btn btn-primary" (click)="addPopup()">Add Popup</button>
  <hr>
  <button class="btn btn-success" (click)="save()">Save</button>

  <h4>Corresponding json</h4>
  <textarea [(ngModel)]="popupsText" (change)="updatePopups()" class="form-control" rows="20">
      {{popups | json}}
    </textarea>
</div>

