.all{
    display: flex;
    flex-direction: column;
    margin: 1em;
    color: white;
}

.quizQuestion {
    margin-left: 2em;
    .question {
        textarea {
            resize: none;
        }
    }
    .answers {
        .answer {
            margin-left: 2em;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-direction: row;
            margin: 1em;

            .isCorrect {
                height: 1em;
            }

            * {
                margin: 0em 0.5em;
            }
        }
    }
}